*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

h1 {
    font-size: 50px;
    text-align: center;
    text-shadow: 2.5px 2.5px 0px grey;
    color: #1f5c5a;
    letter-spacing: 1px;
}

.container {
    position: relative;
    width: 1100px;
    height: 500vh;
    top: 0;
    left: 500px;
}

.eyes {
    position: absolute;
    top: 0px;
    width: 50px;
    height: 20px;
}





.face {
    width: 500px;
    height: 700px;
    position: absolute;
    top: 0;
}

